# Git repositories to pull
predefined_git_repos = false
git_repos = ["~/dotfiles" , "~/terraform", "~/.config/nvim" ]

# Disable specific steps - same options as the command line flag
disable = ["neovim", "emacs","go","flatpak"]

# Run specific steps - same options as the command line flag
#only = ["system", "emacs"]

# Do not ask to retry failed steps (default: false)
no_retry = true

notify_each_step = true

# Run inside tmux
run_in_tmux = true

# List of remote machines with Topgrade installed on them
#remote_topgrades = ["toothless", "pi", "parnas"]

# Arguments to pass SSH when upgrading remote systems
#ssh_arguments = "-o ConnectTimeout=2"

# Arguments to pass Git when pulling Repositories
git_arguments = "--rebase --autostash --ff-only"

# Arguments to pass tmux when pulling Repositories
#tmux_arguments = "-S /var/tmux.sock"

# Arguments to pass yay when updating packages
#yay_arguments = "--nodevel"

set_title = true

# Cleanup temporary or old files
cleanup = true

# Commands to run before anything
#[pre_commands]
#"Emacs Snapshot" = "rm -rf ~/.emacs.d/elpa.bak && cp -rl ~/.emacs.d/elpa ~/.emacs.d/elpa.bak"

# Custom commands
[commands]
"Cleanup Downloads" = "rm -vrf ~/Downloads/*"
"Prune Dangling Symlinks" = find -L ~/ -type l -exec rm -fv {} \; 2>/dev/null
